<li class="nav-dropdown-container language">
  <a class="nav-link">langs:</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="http://dharmareader.diglossa.org/de<%- page.path %>" class="nav-link">De</a></li>
    <li><a href="http://dharmareader.diglossa.org/en<%- page.path %>" class="nav-link">En</a></li>
    <li><a href="http://dharmareader.diglossa.org/ru<%- page.path %>" class="nav-link">Ru</a></li>
  </ul>
</li>
